div.all-container {
  display: block;
  padding-top: 20px;
  margin: auto;
  width: 900px;
  height: auto; }

div.all-container ul li h3 {
  padding: 5px;
  background: #eee; }

div.fretboard {
  display: block;
  margin: auto;
  /*margin-top: 10px;*/
  width: 720px;
  height: 180px;
  background: #eee; }

div.keyboard {
  display: block;
  margin: auto;
  /*margin-top: 10px;*/
  width: 720px;
  height: 120px;
  background: #eee; }

div.theory {
  display: block;
  margin: auto;
  /*margin-top: 25px;
  margin-bottom: 25px;*/
  width: 900px;
  height: 400px; }

/* Chord progressions chart */
div.chord-progressions {
  width: 100%; }
  div.chord-progressions svg text {
    font-family: 'Fira Sans', sans; }

div#id-major-progressions {
  display: block;
  margin: auto;
  width: 600px;
  height: 300px; }

div#id-minor-progressions {
  display: block;
  margin: auto;
  width: 750px;
  height: 300px; }

div.chord-builder {
  display: block;
  margin: auto;
  /*margin-top: 25px;
  margin-bottom: 25px;*/
  width: 800px;
  height: 200px; }

div.chord-player {
  display: block;
  margin: auto;
  width: 720px; }

#scale-pentatonic {
  cursor: pointer; }

.scale-marker,
.pentatonic-marker {
  opacity: 0; }

.scale-marker.selected,
.pentatonic-marker.selected {
  opacity: 1; }
  .scale-marker.selected g path,
  .pentatonic-marker.selected g path {
    fill: #000; }

#clef-s1,
#clef-f1,
#clefb-s1,
#clefb-f1 {
  opacity: 0; }

#clef-s2,
#clef-f2,
#clefb-s2,
#clefb-f2 {
  opacity: 0; }

#clef-s3,
#clef-f3,
#clefb-s3,
#clefb-f3 {
  opacity: 0; }

#clef-s4,
#clef-f4,
#clefb-s4,
#clefb-f4 {
  opacity: 0; }

#clef-s5,
#clef-f5,
#clefb-s5,
#clefb-f5 {
  opacity: 0; }

#clef-s6,
#clef-f6,
#clefb-s6,
#clefb-f6 {
  opacity: 0; }

#clef-s7,
#clef-f7,
#clefb-s7,
#clefb-f7 {
  opacity: 0; }

#clef-s8,
#clef-f8,
#clefb-s8,
#clefb-f8 {
  opacity: 0; }

#noterel-1 text {
  font-size: 3px !important;
  font-family: "Fira Sans", sans; }

#noterel-2 text {
  font-size: 3px !important;
  font-family: "Fira Sans", sans; }

#noterel-3 text {
  font-size: 3px !important;
  font-family: "Fira Sans", sans; }

#noterel-4 text {
  font-size: 3px !important;
  font-family: "Fira Sans", sans; }

#noterel-5 text {
  font-size: 3px !important;
  font-family: "Fira Sans", sans; }

#noterel-6 text {
  font-size: 3px !important;
  font-family: "Fira Sans", sans; }

#noterel-7 text {
  font-size: 3px !important;
  font-family: "Fira Sans", sans; }

#noterel-8 text {
  font-size: 3px !important;
  font-family: "Fira Sans", sans; }

/* TODO: Not a beautiful solution at all... */
#clef-s1.visible-accidental,
#clef-f1.visible-accidental,
#clefb-s1.visible-accidental,
#clefb-f1.visible-accidental {
  opacity: 1; }

#clef-s2.visible-accidental,
#clef-f2.visible-accidental,
#clefb-s2.visible-accidental,
#clefb-f2.visible-accidental {
  opacity: 1; }

#clef-s3.visible-accidental,
#clef-f3.visible-accidental,
#clefb-s3.visible-accidental,
#clefb-f3.visible-accidental {
  opacity: 1; }

#clef-s4.visible-accidental,
#clef-f4.visible-accidental,
#clefb-s4.visible-accidental,
#clefb-f4.visible-accidental {
  opacity: 1; }

#clef-s5.visible-accidental,
#clef-f5.visible-accidental,
#clefb-s5.visible-accidental,
#clefb-f5.visible-accidental {
  opacity: 1; }

#clef-s6.visible-accidental,
#clef-f6.visible-accidental,
#clefb-s6.visible-accidental,
#clefb-f6.visible-accidental {
  opacity: 1; }

#clef-s7.visible-accidental,
#clef-f7.visible-accidental,
#clefb-s7.visible-accidental,
#clefb-f7.visible-accidental {
  opacity: 1; }

#clef-s8.visible-accidental,
#clef-f8.visible-accidental,
#clefb-s8.visible-accidental,
#clefb-f8.visible-accidental {
  opacity: 1; }

.circle-scale {
  cursor: pointer; }

.keyboard-white-key-default {
  fill: #fff;
  stroke: #000; }

.keyboard-black-key-default {
  fill: #000;
  stroke: #000; }

div.fretboard-bass {
  display: block;
  margin: auto;
  /*margin-top: 10px;*/
  width: 720px;
  height: 140px;
  background: #eee; }

.fretboard-default {
  fill: #3e2119;
  stroke: #eee;
  storke-width: 2px; }

.fretboard-default .fretboard-shadow-default {
  stroke: #2D130C; }

.fretboard-bass {
  fill: #111;
  stroke: #eee;
  storke-width: 2px; }

.fretboard-bass .fretboard-shadow-default {
  stroke: #000; }

.keyboard-marker-default {
  fill: #eee;
  stroke: #555;
  stroke-width: 1px;
  cursor: pointer; }

.fretboard-marker-default {
  fill: #eee;
  stroke: #555;
  cursor: pointer; }

.keyboard-marker-inactive {
  opacity: 0; }

.keyboard-marker-selected, .keyboard-marker-highlighted {
  opacity: 1; }

.keyboard-marker-selected {
  stroke: #d12c00;
  stroke-width: 2px; }

.keyboard-marker-highlighted.keyboard-marker-highlighted-root {
  fill: #ffa8c8; }

.fretboard-marker-inactive {
  opacity: 0; }

.fretboard-marker-selected, .fretboard-marker-highlighted {
  opacity: 1; }

.chordbuild-marker, .chordbuild-add, .chordbuild-chord {
  cursor: pointer; }

.chordbuild-marker circle, .chordbuild-chord rect {
  fill: #fff;
  stroke: #999;
  stroke-width: 3px; }

.chordbuild-marker-selected circle, .chordbuild-marker-selected rect {
  fill: #fff;
  stroke: #d20050;
  stroke-width: 3px; }

.chordbuild-add circle {
  fill: #fff;
  stroke: #999;
  stroke-width: 3px; }

.chordbuild-add text {
  font-size: 2em; }

.fretboard-marker-default text {
  fill: #555;
  stroke: none;
  font-size: 10px;
  font-family: "Fira Sans", sans; }

.fretboard-marker-highlighted {
  fill: #f4ffa8; }

.fretboard-marker-selected rect {
  stroke: #d12c00;
  stroke-width: 2px; }

.fretboard-marker-highlighted.fretboard-marker-highlighted-root {
  fill: #ffa8c8; }

.fretboard-marker-highlighted.fretboard-marker-highlighted-root text {
  fill: #000; }

.fretboard-marker-highlighted text {
  fill: #000;
  stroke: none;
  font-size: 10px; }

.fretboard-nut-default {
  fill: #7C5B53;
  stroke: #eee;
  storke-width: 2px; }

.fretboard-nut-bass {
  fill: #ddd;
  stroke: #eee;
  storke-width: 2px; }

.fret-dot-default {
  fill: #fff; }

.fret-string {
  /*stroke: #e4ddcb;*/
  stroke: #ffe; }

.fret-wound-string {
  stroke-dasharray: 1,1; }

/* Chord list */
.chord-list-element span.chord-text,
.chord-list-element.uk-sortable-item span.chord-text,
.chord-list-element.uk-sortable-placeholder span.chord-text {
  font-size: 0.8em; }
.chord-list-element span.btn-delete,
.chord-list-element.uk-sortable-item span.btn-delete,
.chord-list-element.uk-sortable-placeholder span.btn-delete {
  color: red; }
.chord-list-element .uk-card-body,
.chord-list-element.uk-sortable-item .uk-card-body,
.chord-list-element.uk-sortable-placeholder .uk-card-body {
  padding: 5px 5px; }

.chord-list-element div.uk-card {
  border: 1px solid #fafafa; }

.chord-list-element div.uk-card.chord-selected {
  border: 1px solid #d20050; }

/* Override rule ...*/
#chord-list.uk-child-width-1-3 > * {
  width: 25% !important; }

.chord-header {
  text-align: left;
  margin-bottom: 1em; }
  .chord-header .chord-text {
    cursor: pointer; }

.chord-option {
  width: 100%;
  font-size: 0.8em;
  line-height: 250%; }
  .chord-option .chord-option-label {
    width: 50px;
    display: inline-block; }
  .chord-option .chord-text-input {
    width: 40px;
    margin-left: 5px;
    margin-right: 5px; }
  .chord-option .chord-controls {
    cursor: pointer; }
  .chord-option .chord-delete {
    color: red; }

.chord-legato {
  font-size: 0.8em;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 3px; }

.chord-legato.selected {
  border: 1px solid #666; }

.chord-player .chord-player-controls {
  width: 100%;
  text-align: center;
  height: 40px;
  margin-bottom: 5px; }
  .chord-player .chord-player-controls .chord-play {
    border: 1px solid #fff;
    margin: 5px;
    padding: 5px;
    cursor: pointer; }
  .chord-player .chord-player-controls .import-chord-list, .chord-player .chord-player-controls .export-chord-list {
    margin: 5px;
    padding: 5px;
    cursor: pointer; }
  .chord-player .chord-player-controls .chord-play.selected {
    border: 1px solid #d20050; }
  .chord-player .chord-player-controls .chord-bpm {
    width: 50px; }

.chord-player .chord-player-timeline {
  width: 718px;
  height: 16px;
  margin: auto;
  padding: 0 1px 0 1px;
  display: block;
  margin-bottom: 5px;
  background: #eee; }
  .chord-player .chord-player-timeline .timeline-element {
    background: #fff;
    border: 1px solid #000;
    margin: 1px 0 0 1px;
    height: 11px;
    float: left; }
  .chord-player .chord-player-timeline .timeline-element.selected {
    background: #d20050; }

.chord-player .chord-player-timeline-measures {
  width: 720px;
  height: 8px;
  margin: auto;
  display: block;
  margin-top: 0px;
  margin-bottom: 20px; }
  .chord-player .chord-player-timeline-measures svg line {
    stroke: #666;
    stroke-width: 2px; }

/* Various options */
.guitar-update-tuning, .bass-update-tuning {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
